<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <h2>Buscar materia</h2>
            <form action="/buscarnota" class="form" method="post">
                <div class="mb-4">
                    <input type="text" class="form-control" name="materia">
                </div>
                <div class="mb-4">
                    <button class="btn btn-success">buscar</button>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <h2>Calificaciones</h2>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>trimestre</th>
                        <th>calificacion</th>
                        <th>materia</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each result}}
                    <tr>
                        <td>{{trimestre}}</td>
                        <td>{{calificacion}}</td>
                        <td>{{nombre_materia}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            
            <a href="/vernotas" class="btn btn-success mt-4">Primer trimestre</a>
            <a href="/vernotas/2" class="btn btn-success mt-4">Segundo trimestre</a>
            <a href="/vernotas/3" class="btn btn-success mt-4">Tercer Trimestre</a>
        </div>
    </div>
</div>