<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>iniciar sesión</h2>
            <form action="/login" method="post">
                <label for="" class="">Nombre de usuario</label>
                <input type="text" class="form-control" name="user">
                <label for="" class="">Contraseña</label>
                <input type="password" name="password" class="form-control">
                <button class="btn btn-primary">Ingresar</button>
            </form>
        </div>
    </div>
</div>