<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Registrarse</h2>
            <form action="/register" method="post">
                <label for="" class="">Nombre</label>
                <input type="text" class="form-control" name="nombre">
                <label for="" class="">Apellido</label>
                <input type="text" class="form-control" name="apellido">
                <label for="" class="">Curso: 2A 2B</label>
                <input type="text" class="form-control" name="curso">
                <label for="" class="">Usuario</label>
                <input type="text" class="form-control" name="user">
                <label for="" class="">Contraseña</label>
                <input type="password" name="password" class="form-control">
                <button class="btn btn-primary">Crear cuenta</button>
            </form>
        </div>
    </div>
</div>